.mega-menu {
  position: static;
}
.mega-menu top-level-menu-text > a .icon { width: 10px; height: 10px; margin-left: 5px; }

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  padding: 0rem;
  position: absolute;
  right: 0;
  top: 100%;
}

/* .shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
} */

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: grid;
  gap: 1.8rem 2rem;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
  padding-left: .5rem;
}
.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

.custom_content .megamenu-content {
  grid-template-columns: 50% 50%;
}
.megamenu-content {
  display: grid;
  position: relative;
}

/* mega menu content display - appears on the right side */
.mega-menu__content { display: none; }
top-level-menu:hover > .mega-menu__content,
top-level-menu:focus-within > .mega-menu__content { display: block; opacity: 1; transition: cubic-bezier(0.165, 0.84, 0.44, 1); transform: translateY(0); }
.megamenu-content .mega-menu__list { padding-top: 2rem; }
.custom_content .mega-menu__list {   grid-template-columns: repeat(4, minmax(0, 1fr)); }
.megamenu__data { display: flex; align-content: baseline; align-items: center; }
.megamenu__data h3, .megamenu__data p { margin-top: 0; margin-bottom: 1rem; line-height: 1.2; }
.custom_content .megamenu__data::before { z-index: 0; width: calc(50vw - 1px); position: absolute; content: ''; right: 0; bottom: 0; left: 50%; top: 0; }
#menu-drawer .megamenu__data:before { z-index: 0; width: auto; position: absolute; content: ''; right: 0; bottom: 0; left: 0; top: 0; }
.megamenu__datatext { position: relative; z-index: 1; padding: 1rem 2rem; }
.megamenu__image { position: relative; z-index: 1; display: flex; justify-content: flex-end; }
.megamenu__image img { width: 100%; height: auto; display: block; }
@media(max-width: 660px) {
  .megamenu__data { display: block; margin: 1rem; position: relative; padding: 2rem; z-index: 99999; margin: 0 3rem; }
  .custom_content .megamenu__data::before { left: 0; width: auto; z-index: -1; }
  .megamenu__datatext { width: 100%; padding: 0rem 2rem 2rem; }
  .megamenu__image { width: 100%; text-align: center; }
  .megamenu__image img { width: 100%; }
}

/* mega menu collection images - appears for collections selected with images. */ 
.collection_image ul {
  grid-template-columns: repeat(4,minmax(0,1fr));
  display: grid;
  gap: 1rem 1rem;
}
.collection_image ul a {
  text-align: center;
}
.collection_image ul a.left {
  text-align: left;
}
.collection_image ul a.right {
  text-align: right;
}
.collection_image.columns_3 ul {
  grid-template-columns: repeat(3,minmax(0,1fr));
}
.collection_image.columns_5 ul {
  grid-template-columns: repeat(5,minmax(0,1fr));
}
.collection_image.columns_6 ul {
  grid-template-columns: repeat(6,minmax(0,1fr));
}
.collection_image.columns_7 ul {
  grid-template-columns: repeat(7,minmax(0,1fr));
}
.collection_image.columns_8 ul {
  grid-template-columns: repeat(8,minmax(0,1fr));
}
.mega-menu__image-shape {
  margin-bottom: .5rem;
}
.collection_image img {
  display: block;
  width: 100%;
  height: auto;
}