.mega-menu {
  position: static;
}

.mega-menu__content {
  background-color: rgb(var(--color-background));
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  left: 0;
  overflow-y: auto;
  padding: 0rem;
  position: absolute;
  right: 0;
  top: 100%;
}

/* .shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
} */

.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}

.js .mega-menu__content {
  opacity: 0;
  transform: translateY(-1.5rem);
}

.mega-menu[open] .mega-menu__content {
  opacity: 1;
  transform: translateY(0);
}

.mega-menu__list {
  display: grid;
  gap: 1.8rem 2rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  list-style: none;
  padding-left: .5rem;
}
.mega-menu__content::before {
  position: absolute; background: #f2f2f2; content: ''; right: 0; bottom: 0; left: 50vw; top: 0;
}

.mega-menu__link {
  color: rgba(var(--color-foreground), 0.75);
  display: block;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  text-decoration: none;
  transition: text-decoration var(--duration-short) ease;
  word-wrap: break-word;
}

.mega-menu__link--level-2 {
  font-weight: bold;
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}

.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}

.mega-menu__link:hover,
.mega-menu__link--active {
  color: rgb(var(--color-foreground));
  text-decoration: underline;
}

.mega-menu__link--active:hover {
  text-decoration-thickness: 0.2rem;
}

.mega-menu .mega-menu__list--condensed {
  display: block;
}

.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

.megamenu-content {
  display: grid;
  grid-template-columns: 50% 50%;
  position: relative;
}
.megamenu-content .mega-menu__list { padding-top: 2rem; }
.megamenu__data { display: flex; padding-left: 4rem; }
.megamenu__data h3 { margin-top: 0; }
.megamenu__data::before { z-index: 0; width: calc(50vw - 10px); position: absolute; background: #f2f2f2; content: ''; right: 0; bottom: 0; left: 50%; top: 0; }
.megamenu__datatext { z-index: 1; width: 40%; padding: 1rem 1rem 0 1rem; }
.megamenu__image { z-index: 1; width: calc(60% - 1rem); text-align: right; justify-content: flex-end; }
.megamenu__image img { width: calc(100% - 4rem); height: auto; display: block; }
@media(max-width: 660px) {
  .megamenu__data { display: block; margin: 1rem; position: relative; padding: 2rem; z-index: 99999; margin: 0 3rem; }
  .megamenu__data::before { left: 0; width: auto; z-index: -1; }
  .megamenu__datatext { width: 100%; padding: 0rem 2rem 2rem; }
  .megamenu__image { width: 100%; text-align: center; }
  .megamenu__image img { width: 100%; }
}