.gallery ul {
  grid-template-columns: repeat(3,minmax(0,1fr));
  display: grid;
  grid-template-rows: masonry;
  gap: 1rem 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}
.gallery img { 
  display: block; width: 100%; height: auto; border-radius: 0px; 
}
.gallery svg {
  display: block; width: 100%; height: 100%; display: table-cell; background-color: #fff;
}
.fslightbox-toolbar-button:first-child {
  display: none !important;
}
.align-center { text-align: center; }
.align-right { text-align: right; }